// GENERALS
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none; 
}

.wrapper {
   width: 100%;
   min-height: calc(100vh - 64px);
}

body {
   color: $gray;
   font-family: $font_stack;
   background-color: rgb(235, 235, 235);
   // font-family: $font_stack2;
   // background-image: linear-gradient(#072142, #020B16);
}

a,
a:hover {
   color: $white;
   text-decoration: none;
   display: block;
}

main {
   min-height: calc(100vh - 64px);
}

.back_overlay {
   width: 100vw;
   height: 100vh;
   position: fixed;
   left: 0;
   top: 0;
   background-color: rgba(0,0,0,0.4);
   backdrop-filter:  blur(1px);
   -webkit-backdrop-filter: blur(1px);
}

