// GENERALS
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none; 
}

.wrapper {
   width: 100%;
}

body {
   // font-family: $font_stack1;
   // font-family: $font_stack2;
   // background-image: linear-gradient(#072142, #020B16);
}

a,
a:hover {
}
