// COLORS
$white: #FFFFFF;
$gray: #404E4D;
$red: #FE5F55;
$blue: #0CBABA;
$yellow: #F5A614;

// FONT
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Syne&display=swap');
$font_stack: 'Kdam Thmor Pro', sans-serif;
// $font_stack2: 'Syne', sans-serif;