@import './_variables.scss';
// @import './_mixins.scss';
@import './_generals.scss';

header {
   width: 100%;
   text-align: center;
   background-color: $red;
   display: flex;
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;

   .nav_item {
      text-transform: uppercase;
      margin: 10px 20px;
      padding: 10px;
      transition: all .2s;

      &:hover,
      &.active {
         background-color: $white;
         // filter: invert(100%);
         color: black;
      }
   }
}

.pop_up_form {
   display: flex;
   justify-content: center;
   max-height: 70vh;
   overflow-y: auto;
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: $white;
   padding: 20px;
   width: 500px;
   border-radius: 6px;
   -webkit-box-shadow: 0px 0px 42px 10px rgba(0,0,0,0.2); 
   box-shadow: 0px 0px 42px 10px rgba(0,0,0,0.2);
}

.categories {
   width: 100%;
   padding: 0 20px;
}

//ANIMATION